tr
  td(style='padding: 32px')
    table(align='center', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px')
      tbody
        tr 
          td(align='center')
            img(src='https://zobjects.sgp1.digitaloceanspaces.com/Footer_top-min.png', alt="Don't Be Shy", height='150px')
        tr  
          td(style='padding: 32px 32px 0')
            table(align='center', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr
                  td(align='center' style='font-size: 16px')
                    | Stay Connected
                  td(align='left')
                    table(align='left', cellpadding='0', cellspacing='0', width='70%')
                      tbody
                        tr 
                          td(align='center' width='30.33%')
                            a(href='https://www.fb.com/zyphercrew', style='height: 32px; width: 32px; display: block')
                              img(src='https://zobjects.sgp1.digitaloceanspaces.com/facebook.png', style='height: 100%; width: 100%')
                          td(align='center' width='30.33%')
                            a(href='https://www.instagram.com/zypher.co', style='height: 32px; width: 32px; display: block')
                              img(src='https://zobjects.sgp1.digitaloceanspaces.com/instagram.png', style='height: 100%; width: 100%')
                          td(align='center' width='30.33%')
                            a(href='https://www.linkedin.com/company/teamzypher', style='height: 32px; width: 32px; display: block')
                              img(src='https://zobjects.sgp1.digitaloceanspaces.com/linkedin.png', style='height: 100%; width: 100%')
        tr          
          td(align='center')
            img(src='https://zobjects.sgp1.digitaloceanspaces.com/logo.png', alt='Zypher', height='150px')
        
        tr
          td
            table(align='center', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr
                  td(align='center' width='50%')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                      tbody
                        tr 
                          td(align='center' style='font-size: 12px') EST 2018
                        tr 
                          td(align='center' style='font-size: 16px') WWW.ZYPHER.CO
                        tr 
                          td(align='center' style='font-size: 12px') ENGAGE ENRICH ENLIGHTEN
                  td(align='center' width='50%')
                    table(align='center', cellpadding='0', cellspacing='0', width='100%')
                      tbody
                        tr 
                          td(align='center' style='font-size: 16px') QUERIES?
                        tr 
                          td(align='center' style='font-size: 16px') 9008-691-909
      
        tr
          td(align='center' style='padding: 16px; font-size: 16px')
            span(style='width: 100%; max-width: 500px; display: block')
              | 4TH FLOOR, 91 SPRINGBROAD, KORAMANGALA, BANGALORE - 76