.movie-card {
  margin-bottom: 30px;
}

.single-top-movie .content {
  bottom: 50px !important;
}

h4.name {
  text-transform: uppercase;
  text-align: center;
  color: #abaac5;
  font-size: 1.3em;
  padding: 12px 0 0 0;
}
