#contact-form h2 {
  text-align: center;
}

#contact-form input,
#add-movie-form input {
  height: 55px;
}

#contact-form input,
#contact-form textarea,
#add-movie-form input {
  background-color: #fff;
  color: #000;
  padding: 16px;
  font-size: 1em;
}

#contact-form input:focus,
#contact-form textarea:focus,
#add-movie-form input:focus {
  background-color: #fff;
  color: #000;
}

#contact-form textarea {
  font-size: 1em;
}

#contact-form label,
#add-movie-form label {
  font-size: 1em;
  margin-top: 8px;
}

#contact-form button#submit,
#add-movie-form button#submit {
  margin: auto;
  display: block;
  color: #fff !important;
  height: 55px;
  padding: initial 32px;
  font-size: 1em;
  margin-top: 16px;
  cursor: pointer;
}
