.btn-status-no {
  background: #f44336;
}

.btn-status-yes {
  background: #4caf50;
}

.btn-status {
  border: none;
  color: #fff;
  padding: 4px 16px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-status-yes:hover {
  background: rgba(76, 175, 80, 0.8);
}

.btn-status-no:hover {
  background: rgba(244, 67, 54, 0.8);
}
