.section-heading {
  padding-top: 40px;
}

.section-label {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 0 13px;
  position: relative;
}

.section-label::after {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
}
