.owl-nav button > span {
  display: block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 1.5em;
  border: 1px solid #3c3d4d;
  line-height: 25px;
  color: #3c3d4d;
  font-weight: bolder;
}

.owl-nav {
  position: relative;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 0;
}

.owl-nav .owl-next {
  position: absolute;
  right: 0;
}

.owl-dots {
  padding-top: 8px;
  padding-bottom: 40px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  border-radius: 50% !important;
}
