.details-area {
  padding: 0 !important;
}

.movie-poster img {
  width: 100%;
}

.no-links {
  margin-top: 36px;
}

.no-links p {
  font-size: 1.1em;
}

.movie-title {
  line-height: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-size: 1.8em;
  color: #ff1744;
}

.movie-genres {
  padding: 0;
  font-size: 1.1em;
}

span.info-type {
  font-weight: bold;
}

.movie-genres li {
  line-height: 30px;
  list-style-type: none;
}

.title {
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 16px;
}

.movie-overview {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.1em;
  line-height: 30px;
}

.social-top {
  margin: 32px 0;
}

.btn-link-custom {
  border: none;
  cursor: pointer;
  background: #ff1744 none repeat scroll 0 0;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  padding: 4px 21px;
  text-align: center;
}

.btn-link-custom:hover,
.btn-link-custom:active {
  color: #fff;
  background-color: #cf0c33;
}

.comment {
  background-color: #18172c;
  border-radius: 16px;
  padding: 32px;
}

.embedresize {
  max-width: 560px;
  margin: 24px auto;
}

.embedresize div {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.embedresize iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
