doctype html
html(style='margin: 0; padding: 0; box-sizing:border-box')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title MoviStack - Contact Form
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css?family=Questrial", rel="stylesheet")
  body(style='margin:0; padding:0; box-sizing:border-box; font-family: "Questrial", sans-serif; line-height: 25px')
    table(align='center', cellpadding='0', cellspacing='0', width='100%')
      tbody
        tr
          td(align='center')
            table(align='center', cellpadding='0', cellspacing='0', width='100%')
              tbody
                tr 
                  td #{message}
                  td #{email}