nav {
  background-color: #0c0b21;
}

.navbar-toggler-icon {
  color: aliceblue;
  line-height: 56px;
}

.navbar a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 20px;
  padding: 25px 0 0 8px;
}

a.nav-link {
  margin-left: 40px;
}

.navbar img {
  padding: 0;
  height: 60px;
}

/* .search-input-box {
  border-radius: 35px !important;
  height: 70px !important;
}

.search-input-box input[type="text"] {
  padding: 0px 5px 0 30px;
  height: 70px;
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search-input-box button {
  border-width: 0 !important;
  color: #3d3c4d !important;
  padding: 0 30px 0 15px !important;
} */

.search-form-wrapper {
  padding-top: 24px;
  padding-bottom: 0px;
}

form.card {
  border-radius: 33px;
  background: transparent;
  border: 1px solid #3d3c4d;
}

form .card-body {
  padding: 15px 1.25rem;
  border-radius: 40px;
}

.form-control:focus {
  color: #fff;
  background-color: initial;
  border: none;
  outline: 0;
  box-shadow: none;
}

form input.form-control {
  font-size: 1.2em;
  padding: 0 2.25rem;
}

form button {
  border-width: 0 !important;
  color: #3d3c4d !important;
  background-color: transparent;
  padding-right: 2.25rem;
}

.form-control-borderless {
  border: none;
}

.bg-theme {
  background: #18172c none repeat scroll 0 0;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

/* .search-result a:hover,
.search-result a:active {
  background: #aaa !important;
}

*/

.search-movie-card {
  margin-bottom: 16px;
}

.search-movie-card img {
  height: 100px;
  width: auto;
}

h6.name {
  text-transform: uppercase;
  text-align: center;
  color: #abaac5;
  font-size: 1.1em;
  padding: 12px 0 0 0;
}
