.dmca {
  letter-spacing: initial;
  font-size: 1em;
  background-color: #18172c;
  border-radius: 16px;
  padding: 32px;
}

.dmca h4 {
  padding-bottom: 8px;
}

.dmca p,
.dmca a {
  font-size: 1em;
}

.dmca ul li {
  line-height: 28px;
}
