.privacy-policy {
  letter-spacing: initial;
  font-size: 1em;
  background-color: #18172c;
  border-radius: 16px;
  padding: 32px;
}

.privacy-policy h4 {
  padding-bottom: 8px;
}

.privacy-policy p,
.privacy-policy a {
  font-size: 1em;
}

.privacy-policy ul li {
  line-height: 28px;
}
